<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-2  login">Register account</h1>
    <label for="inputNome" class="sr-only">Name</label>
    <input
      type="text"
      id="inputNome"
      name="nome"
      placeholder="Name"
      class="form-control mb-2"
      [ngClass]="{
        'is-invalid': nome.invalid && (nome.dirty || nome.touched),
        'is-valid': nome.valid
      }"
      [(ngModel)]="user.nome"
      #nome="ngModel"
      required
    />
    <div
      class="invalid-feedback mb-2"
      *ngIf="nome.invalid && (nome.dirty || nome.touched)"
    >
      <div *ngIf="nome.errors.required">
        Name is required
      </div>
    </div>

    <label for="inputSobrenome" class="sr-only">lastName</label>
    <input
      type="text"
      id="inputlastName"
      name="lastName"
      placeholder="Last name"
      class="form-control mb-2"
      [ngClass]="{
        'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched),
        'is-valid': lastName.valid
      }"
      [(ngModel)]="user.sobrenome"
      #lastName="ngModel"
      required
    />
    <div
      class="invalid-feedback mb-2"
      *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
    >
      <div *ngIf="lastName.errors.required">
        Last name is required
      </div>
    </div>

    <label for="inputEmail" class="sr-only">E-mail</label>
    <input
      type="email"
      id="inputEmail"
      name="email"
      placeholder="E-mail"
      class="form-control mb-2"
      [ngClass]="{
        'is-invalid': email.invalid && (email.dirty || email.touched),
        'is-valid': email.valid
      }"
      [(ngModel)]="user.email"
      #email="ngModel"
      email
      required
    />
    <div
      class="invalid-feedback mb-2"
      *ngIf="email.invalid && (email.dirty || email.touched)"
    >
      <div *ngIf="email.errors.required">
        E-mail is required
      </div>
      <div *ngIf="email.errors.email">
        This is not a valid e-mail
      </div>
    </div>

    <label for="inputSenha" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      name="password"
      placeholder="Password"
      class="form-control mb-2"
      [ngClass]="{
        'is-valid': password.valid,
        'is-invalid': password.invalid && (password.dirty || password.touched)
      }"
      [(ngModel)]="user.senha"
      #password="ngModel"
      required
    />
    <div
      class="invalid-feedback mb-2"
      *ngIf="password.invalid && (password.dirty || password.touched)"
    >
      <div *ngIf="password.errors.required">
        Password is required
      </div>
    </div>
    <button
      class="btn btn-primary btn-block mb-2"
      type="submit"
      (click)="register()"
      [disabled]="spinnerActive"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        *ngIf="spinnerActive"
      ></span>
      Save
    </button>
    <div><a [routerLink]="['/signin']">Back</a></div>
    <div class="alert alert-danger mb-2" role="alert" *ngIf="message">
      {{ message }}
    </div>
    <div class="alert alert-success" *ngIf="registeredUser">
      Usuário cadastrado com sucesso! <br />
      <a class="alert-link" [routerLink]="['/signin']">Clique aqui </a>para
      entrar no sistema com a sua conta.
    </div>
  </form>
  <img src="../../../assets/img/quick-b-logo.jpg" />
</div>
