**/.git
**/.DS_Store
**/node_modules 

[Dd]ebug/
[Dd]ebugPublic/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
coverage*[.json, .xml, .info]
*.coverage
*.coveragexml
# OpenCover UI analysis results
OpenCover/
**/coverage.opencover.xml
**/*.trx
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
src/FTStore.Web/wwwroot/arquivos/
!FTStore.Web/wwwroot/arquivos/.gitkeep
src/FTStore.Web/wwwroot/assets/**
!FTStore.Web/wwwroot/assets/**/.gitkeep
src/FTStore.Web/wwwroot/assets/images/**

#sonarqube
.sonarqube/**